---
Checks:          'clang-diagnostic-*,clang-analyzer-*,-readability-function-cognitive-complexity,clang-diagnostic-*,clang-analyzer-*,clang-diagnostic-*,clang-analyzer-*,-*,clang-analyzer-*,-clang-analyzer-security*,bugprone-*,misc-*,cert-*,performance-*,readability-*,-readability-braces-around-statements,-readability-else-after-return,-*,bugprone-*,cert-*,clang*,misc*,performance*,readability-simplify*,readability-redundant*,readability-inconsistent-*,declaration-parameter-name,readability-misplaced-array-index'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            Jacob
CheckOptions:
  - key:             readability-simplify-subscript-expr.Types
    value:           '::std::basic_string;::std::basic_string_view;::std::vector;::std::array'
  - key:             cert-oop11-cpp.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             performance-move-const-arg.CheckTriviallyCopyableMove
    value:           'true'
  - key:             bugprone-reserved-identifier.Invert
    value:           'false'
  - key:             bugprone-narrowing-conversions.PedanticMode
    value:           'false'
  - key:             bugprone-unused-return-value.CheckedFunctions
    value:           '::std::async;::std::launder;::std::remove;::std::remove_if;::std::unique;::std::unique_ptr::release;::std::basic_string::empty;::std::vector::empty'
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key:             cert-dcl51-cpp.AggressiveDependentMemberLookup
    value:           'false'
  - key:             bugprone-narrowing-conversions.WarnOnFloatingPointNarrowingConversion
    value:           'true'
  - key:             readability-inconsistent-declaration-parameter-name.Strict
    value:           'false'
  - key:             cert-err61-cpp.MaxSize
    value:           '-1'
  - key:             cert-dcl37-c.AllowedIdentifiers
    value:           ''
  - key:             cert-str34-c.DiagnoseSignedUnsignedCharComparisons
    value:           'false'
  - key:             bugprone-suspicious-string-compare.WarnOnLogicalNotComparison
    value:           'false'
  - key:             readability-redundant-smartptr-get.IgnoreMacros
    value:           'true'
  - key:             cert-err61-cpp.WarnOnLargeObjects
    value:           'false'
  - key:             cert-err09-cpp.WarnOnLargeObjects
    value:           'false'
  - key:             bugprone-suspicious-string-compare.WarnOnImplicitComparison
    value:           'true'
  - key:             bugprone-argument-comment.CommentNullPtrs
    value:           '0'
  - key:             bugprone-argument-comment.StrictMode
    value:           '0'
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           'false'
  - key:             bugprone-unhandled-self-assignment.WarnOnlyIfThisHasSuspiciousField
    value:           'true'
  - key:             google-readability-namespace-comments.ShortNamespaceLines
    value:           '10'
  - key:             bugprone-suspicious-string-compare.StringCompareLikeFunctions
    value:           ''
  - key:             misc-definitions-in-headers.HeaderFileExtensions
    value:           ',h,hh,hpp,hxx'
  - key:             cert-err09-cpp.MaxSize
    value:           '-1'
  - key:             performance-move-constructor-init.IncludeStyle
    value:           llvm
  - key:             cert-oop57-cpp.MemSetNames
    value:           ''
  - key:             performance-type-promotion-in-math-fn.IncludeStyle
    value:           llvm
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             bugprone-suspicious-include.ImplementationFileExtensions
    value:           'c;cc;cpp;cxx'
  - key:             bugprone-suspicious-missing-comma.SizeThreshold
    value:           '5'
  - key:             bugprone-suspicious-include.HeaderFileExtensions
    value:           ';h;hh;hpp;hxx'
  - key:             performance-no-automatic-move.AllowedTypes
    value:           ''
  - key:             bugprone-argument-comment.CommentCharacterLiterals
    value:           '0'
  - key:             bugprone-argument-comment.CommentIntegerLiterals
    value:           '0'
  - key:             performance-for-range-copy.WarnOnAllAutoCopies
    value:           'false'
  - key:             readability-inconsistent-declaration-parameter-name.IgnoreMacros
    value:           'true'
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             bugprone-sizeof-expression.WarnOnSizeOfThis
    value:           'true'
  - key:             bugprone-argument-comment.CommentFloatLiterals
    value:           '0'
  - key:             bugprone-too-small-loop-variable.MagnitudeBitsUpperLimit
    value:           '16'
  - key:             readability-simplify-boolean-expr.ChainedConditionalReturn
    value:           'false'
  - key:             bugprone-string-constructor.WarnOnLargeLength
    value:           'true'
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             bugprone-dynamic-static-initializers.HeaderFileExtensions
    value:           ',h,hh,hpp,hxx'
  - key:             cert-dcl59-cpp.HeaderFileExtensions
    value:           ',h,hh,hpp,hxx'
  - key:             bugprone-suspicious-enum-usage.StrictMode
    value:           'false'
  - key:             performance-unnecessary-copy-initialization.AllowedTypes
    value:           ''
  - key:             bugprone-suspicious-missing-comma.MaxConcatenatedTokens
    value:           '5'
  - key:             bugprone-not-null-terminated-result.WantToUseSafeFunctions
    value:           'true'
  - key:             misc-throw-by-value-catch-by-reference.CheckThrowTemporaries
    value:           'true'
  - key:             bugprone-string-constructor.LargeLengthThreshold
    value:           '8388608'
  - key:             readability-simplify-boolean-expr.ChainedConditionalAssignment
    value:           'false'
  - key:             cert-oop54-cpp.WarnOnlyIfThisHasSuspiciousField
    value:           'false'
  - key:             cert-err09-cpp.CheckThrowTemporaries
    value:           'true'
  - key:             cert-dcl51-cpp.Invert
    value:           'false'
  - key:             bugprone-exception-escape.FunctionsThatShouldNotThrow
    value:           ''
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             performance-inefficient-vector-operation.EnableProto
    value:           'false'
  - key:             bugprone-signed-char-misuse.CharTypdefsToIgnore
    value:           ''
  - key:             bugprone-argument-comment.CommentStringLiterals
    value:           '0'
  - key:             cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value:           '1'
  - key:             performance-for-range-copy.AllowedTypes
    value:           ''
  - key:             misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables
    value:           'false'
  - key:             bugprone-sizeof-expression.WarnOnSizeOfConstant
    value:           'true'
  - key:             readability-redundant-string-init.StringNames
    value:           '::std::basic_string'
  - key:             bugprone-argument-comment.CommentBoolLiterals
    value:           '0'
  - key:             bugprone-argument-comment.CommentUserDefinedLiterals
    value:           '0'
  - key:             performance-inefficient-string-concatenation.StrictMode
    value:           'false'
  - key:             readability-redundant-declaration.IgnoreMacros
    value:           'true'
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             bugprone-reserved-identifier.AllowedIdentifiers
    value:           ''
  - key:             cert-dcl51-cpp.AllowedIdentifiers
    value:           ''
  - key:             cert-oop57-cpp.MemCpyNames
    value:           ''
  - key:             bugprone-misplaced-widening-cast.CheckImplicitCasts
    value:           'false'
  - key:             bugprone-suspicious-missing-comma.RatioThreshold
    value:           '0.200000'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             performance-unnecessary-value-param.AllowedTypes
    value:           ''
  - key:             misc-definitions-in-headers.UseHeaderFileExtension
    value:           'true'
  - key:             misc-throw-by-value-catch-by-reference.MaxSize
    value:           '-1'
  - key:             cert-oop57-cpp.MemCmpNames
    value:           ''
  - key:             google-readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             bugprone-argument-comment.IgnoreSingleArgument
    value:           '0'
  - key:             cert-err61-cpp.CheckThrowTemporaries
    value:           'true'
  - key:             bugprone-sizeof-expression.WarnOnSizeOfIntegerExpression
    value:           'false'
  - key:             performance-faster-string-find.StringLikeClasses
    value:           'std::basic_string'
  - key:             bugprone-assert-side-effect.CheckFunctionCalls
    value:           'false'
  - key:             bugprone-assert-side-effect.AssertMacros
    value:           assert
  - key:             bugprone-signed-char-misuse.DiagnoseSignedUnsignedCharComparisons
    value:           'true'
  - key:             bugprone-exception-escape.IgnoredExceptions
    value:           ''
  - key:             llvm-qualified-auto.AddConstToQualified
    value:           '0'
  - key:             cert-str34-c.CharTypdefsToIgnore
    value:           ''
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             llvm-else-after-return.WarnOnConditionVariables
    value:           '0'
  - key:             cert-msc51-cpp.DisallowedSeedTypes
    value:           'time_t,std::time_t'
  - key:             bugprone-sizeof-expression.WarnOnSizeOfCompareToConstant
    value:           'true'
  - key:             bugprone-reserved-identifier.AggressiveDependentMemberLookup
    value:           'false'
  - key:             misc-throw-by-value-catch-by-reference.WarnOnLargeObjects
    value:           'false'
  - key:             cert-dcl37-c.Invert
    value:           'false'
  - key:             cert-dcl37-c.AggressiveDependentMemberLookup
    value:           'false'
  - key:             bugprone-dangling-handle.HandleClasses
    value:           'std::basic_string_view;std::experimental::basic_string_view'
  - key:             performance-inefficient-vector-operation.VectorLikeClasses
    value:           '::std::vector'
  - key:             performance-unnecessary-value-param.IncludeStyle
    value:           llvm
  - key:             misc-unused-parameters.StrictMode
    value:           'false'
  - key:             cert-dcl16-c.IgnoreMacros
    value:           'true'
  - key:             readability-redundant-member-init.IgnoreBaseInCopyConstructors
    value:           'false'
  - key:             llvm-else-after-return.WarnOnUnfixable
    value:           '0'
  - key:             cert-msc32-c.DisallowedSeedTypes
    value:           'time_t,std::time_t'
...

