
*.s
test.exe
test.ilk
test.pdb
.clangd/index/allocator.h.17A79288296293F3.idx
.clangd/index/general.h.97F43C9273A9424B.idx
.clangd/index/vector.h.CE02119ADE69DF9F.idx
.clangd/index/youIdiot.c.A1723BAABD5F73F5.idx
.vs/ProjectSettings.json
.vs/pstd/v16/.suo
.vs/pstd/v16/Preview/Browse.VC.db
.vs/slnx.sqlite
.vs/test/v16/.suo
.vs/test/v16/Preview/Browse.VC.db
.vs/test/v16/Preview/ipch/AutoPCH/5a1aefc6e8b3bbcb/TEST.ipch
.vs/VSWorkspaceState.json
.vscode/launch.json
.vscode/settings.json
src/allocator.o
src/pstring.o
tags
*.swp
*.o
